@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?df1382');
  src:  url('fonts/icomoon.eot?df1382#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?df1382') format('truetype'),
    url('fonts/icomoon.woff?df1382') format('woff'),
    url('fonts/icomoon.svg?df1382#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fm-arrow-down:before {
  content: "\e900";
}
.icon-fm-arrow-down-rectangle:before {
  content: "\e901";
}
.icon-fm-arrow-left:before {
  content: "\e902";
}
.icon-fm-arrow-left-outlined:before {
  content: "\e903";
}
.icon-fm-arrow-right:before {
  content: "\e904";
}
.icon-fm-arrow-right-arrow-left:before {
  content: "\e905";
}
.icon-fm-arrow-rotate:before {
  content: "\e906";
}
.icon-fm-arrow-rotate-left:before {
  content: "\e907";
}
.icon-fm-arrow-rotate-right:before {
  content: "\e908";
}
.icon-fm-arrow-up:before {
  content: "\e909";
}
.icon-fm-arrow-up-rectangle:before {
  content: "\e90a";
}
.icon-fm-backspace:before {
  content: "\e90b";
}
.icon-fm-backward-fast:before {
  content: "\e90c";
}
.icon-fm-bell:before {
  content: "\e90d";
}
.icon-fm-bell-slashed:before {
  content: "\e90e";
}
.icon-fm-bookmark:before {
  content: "\e90f";
}
.icon-fm-broom:before {
  content: "\e910";
}
.icon-fm-bullhorn:before {
  content: "\e911";
}
.icon-fm-calendar:before {
  content: "\e912";
}
.icon-fm-calendar-day:before {
  content: "\e913";
}
.icon-fm-calendar-events:before {
  content: "\e914";
}
.icon-fm-camera:before {
  content: "\e915";
}
.icon-fm-can:before {
  content: "\e916";
}
.icon-fm-caret-down:before {
  content: "\e917";
}
.icon-fm-caret-up:before {
  content: "\e918";
}
.icon-fm-case:before {
  content: "\e919";
}
.icon-fm-chain:before {
  content: "\e91a";
}
.icon-fm-check:before {
  content: "\e91b";
}
.icon-fm-check-circle:before {
  content: "\e91c";
}
.icon-fm-chevron-down:before {
  content: "\e91d";
}
.icon-fm-chevron-left:before {
  content: "\e91e";
}
.icon-fm-chevron-right:before {
  content: "\e91f";
}
.icon-fm-chevron-up:before {
  content: "\e920";
}
.icon-fm-circle:before {
  content: "\e921";
}
.icon-fm-circle-check-outside:before {
  content: "\e922";
}
.icon-fm-circle-close:before {
  content: "\e923";
}
.icon-fm-circle-inside:before {
  content: "\e924";
}
.icon-fm-circle-outlined:before {
  content: "\e925";
}
.icon-fm-clip:before {
  content: "\e926";
}
.icon-fm-clipboard:before {
  content: "\e927";
}
.icon-fm-clipboard-check:before {
  content: "\e928";
}
.icon-fm-clock:before {
  content: "\e929";
}
.icon-fm-cloud-arrow-up:before {
  content: "\e92a";
}
.icon-fm-cog:before {
  content: "\e92b";
}
.icon-fm-contract:before {
  content: "\e92c";
}
.icon-fm-copy:before {
  content: "\e92d";
}
.icon-fm-diamond-exclamation:before {
  content: "\e92e";
}
.icon-fm-doc:before {
  content: "\e92f";
}
.icon-fm-doc-alternative:before {
  content: "\e930";
}
.icon-fm-dot:before {
  content: "\e931";
}
.icon-fm-double-check:before {
  content: "\e932";
}
.icon-fm-double-plane:before {
  content: "\e933";
}
.icon-fm-double-tag:before {
  content: "\e934";
}
.icon-fm-download:before {
  content: "\e935";
}
.icon-fm-empty-folder:before {
  content: "\e936";
}
.icon-fm-empty-notification:before {
  content: "\e937";
}
.icon-fm-excel:before {
  content: "\e938";
}
.icon-fm-expand:before {
  content: "\e939";
}
.icon-fm-eye:before {
  content: "\e93a";
}
.icon-fm-eye-slashed:before {
  content: "\e93b";
}
.icon-fm-face-angry:before {
  content: "\e93c";
}
.icon-fm-file-pdf:before {
  content: "\e93d";
}
.icon-fm-filter:before {
  content: "\e93e";
}
.icon-fm-fire:before {
  content: "\e93f";
}
.icon-fm-forward-fast:before {
  content: "\e940";
}
.icon-fm-frame:before {
  content: "\e941";
}
.icon-fm-geo-pin:before {
  content: "\e942";
}
.icon-fm-hand-stop:before {
  content: "\e943";
}
.icon-fm-home:before {
  content: "\e944";
}
.icon-fm-hourglass-end:before {
  content: "\e945";
}
.icon-fm-house:before {
  content: "\e946";
}
.icon-fm-image:before {
  content: "\e947";
}
.icon-fm-image-frame:before {
  content: "\e948";
}
.icon-fm-image-plus:before {
  content: "\e949";
}
.icon-fm-images:before {
  content: "\e94a";
}
.icon-fm-information-circle:before {
  content: "\e94b";
}
.icon-fm-line:before {
  content: "\e94c";
}
.icon-fm-link:before {
  content: "\e94d";
}
.icon-fm-list:before {
  content: "\e94e";
}
.icon-fm-lock:before {
  content: "\e94f";
}
.icon-fm-lock-shield:before {
  content: "\e950";
}
.icon-fm-magnify-glass:before {
  content: "\e951";
}
.icon-fm-mail:before {
  content: "\e952";
}
.icon-fm-map-marker:before {
  content: "\e953";
}
.icon-fm-minus-circle:before {
  content: "\e954";
}
.icon-fm-move:before {
  content: "\e955";
}
.icon-fm-paper-plane:before {
  content: "\e956";
}
.icon-fm-pause:before {
  content: "\e957";
}
.icon-fm-pause-circle:before {
  content: "\e958";
}
.icon-fm-pencil:before {
  content: "\e959";
}
.icon-fm-pin:before {
  content: "\e95a";
}
.icon-fm-play-circle:before {
  content: "\e95b";
}
.icon-fm-plus-bag:before {
  content: "\e95c";
}
.icon-fm-plus-circle:before {
  content: "\e95d";
}
.icon-fm-plus-doc:before {
  content: "\e95e";
}
.icon-fm-plus-square:before {
  content: "\e95f";
}
.icon-fm-power:before {
  content: "\e960";
}
.icon-fm-printer:before {
  content: "\e961";
}
.icon-fm-recycle:before {
  content: "\e962";
}
.icon-fm-recycle-alternative:before {
  content: "\e963";
}
.icon-fm-reload:before {
  content: "\e964";
}
.icon-fm-reutility:before {
  content: "\e965";
  opacity: 0.5;
}
.icon-fm-reutility:after {
  content: "\e966";
  margin-left: -1em;
}
.icon-fm-sad-face:before {
  content: "\e967";
}
.icon-fm-send:before {
  content: "\e968";
}
.icon-fm-sign:before {
  content: "\e969";
}
.icon-fm-square-and-circle:before {
  content: "\e96a";
}
.icon-fm-square-check:before {
  content: "\e96b";
}
.icon-fm-square-outlined:before {
  content: "\e96c";
}
.icon-fm-target:before {
  content: "\e96d";
}
.icon-fm-thumb-up:before {
  content: "\e96e";
}
.icon-fm-trash-can:before {
  content: "\e96f";
}
.icon-fm-trash-can-alternative:before {
  content: "\e970";
}
.icon-fm-tree:before {
  content: "\e971";
}
.icon-fm-truck:before {
  content: "\e972";
}
.icon-fm-user:before {
  content: "\e973";
}
.icon-fm-user-circle:before {
  content: "\e974";
}
.icon-fm-user-list:before {
  content: "\e975";
}
.icon-fm-user-rectangle-and-line:before {
  content: "\e976";
}
.icon-fm-user-square:before {
  content: "\e977";
}
.icon-fm-user-viewfinder:before {
  content: "\e978";
}
.icon-fm-vibrating-phone:before {
  content: "\e979";
}
.icon-fm-video-camera:before {
  content: "\e97a";
}
.icon-fm-warning:before {
  content: "\e97b";
}
.icon-fm-xmark-circle:before {
  content: "\e97c";
}
